$secondary-color: #2C394B;
$primary-color: #082032;
$text-primary-color: #FF4C29;
$text-secondary-color: #FB2576;
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

.contactContent {
    background-color: $primary-color;
    font-family: Raleway, sans-serif;
}

.contactContainer {
    display: grid;
    grid-template-columns: 30% 50%;

    .rightPartie {
        margin: 4em;
        color: aliceblue;

        h2 {
            color: $text-primary-color;
            font-weight: 600;
            font-size: x-large;
        }

        .contactField {
            margin-top: 1em;
            margin-left: 1em;
            font-size: 20px;

            i {
                margin-right: 1em;
            }
        }
    }

    .leftPartie {
        margin: 4em 0;
        color: #FB2576;

        h3 {
            color: $text-primary-color;
        }

        .screen {
            background: linear-gradient(90deg, #000, #2C3333);
            position: relative;
            padding: 4em;
            box-shadow: 0px 0px 24px #000;
            display: grid;
            grid-template-columns: 17.5% 77.5%;
            gap: 5%;

            .imageContent {
                padding: 7%;
                font-size: x-large;
                text-align: center;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            input {
                width: 100%;
                margin-bottom: 1em;
                padding: 1em;
                background-color: #FFAC41;
                color: #323232;
                font-size: large;
                border-radius:4px ;
            }

            textarea {
                width: 100%;
                padding: 12px 20px;
                box-sizing: border-box;
                resize: none;
                border-radius: 4px;
                background-color: #FFAC41;
                color: #323232;
                font-size: large;
            }

            button{
                margin-top: 2em;
                background-color:#FFAC41;
                box-shadow: 0 0 24px rgba(255,255,255,.5);
                padding: 16px;
                border-radius: 1em ;
                color: #323232;
                width: fit-content;
            }
        }
    }
}

.recaptcha{
    margin-top: 1em;
}