@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
.lightMode .contactContent {
  background-color: #FFF5E4;
  font-family: Raleway, sans-serif;
}
.lightMode .contactContainer {
  display: grid;
  grid-template-columns: 30% 50%;
}
.lightMode .contactContainer .rightPartie {
  margin: 4em;
  color: #FF4C29;
}
.lightMode .contactContainer .rightPartie h2 {
  color: #FF4C29;
  font-weight: 600;
  font-size: x-large;
}
.lightMode .contactContainer .rightPartie .contactField {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 20px;
}
.lightMode .contactContainer .rightPartie .contactField i {
  margin-right: 1em;
}
.lightMode .contactContainer .leftPartie {
  margin: 4em 0;
  color: #E3FCBF;
}
.lightMode .contactContainer .leftPartie h3 {
  color: #E3FCBF;
}
.lightMode .contactContainer .leftPartie .screen {
  background: linear-gradient(90deg, #14C38E, #00FFAB);
  position: relative;
  padding: 4em;
  box-shadow: 0px 0px 24px #000;
  display: grid;
  grid-template-columns: 17.5% 77.5%;
  gap: 5%;
}
.lightMode .contactContainer .leftPartie .screen .imageContent {
  padding: 7%;
  font-size: x-large;
  text-align: center;
}
.lightMode .contactContainer .leftPartie form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lightMode .contactContainer .leftPartie form input {
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #B8F1B0;
  color: #323232;
  font-size: large;
  border-radius: 4px;
}
.lightMode .contactContainer .leftPartie form textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
  border-radius: 4px;
  background-color: #B8F1B0;
  color: #323232;
  font-size: large;
}
.lightMode .contactContainer .leftPartie form button {
  margin-top: 2em;
  background-color: #B8F1B0;
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.5);
  padding: 16px;
  border-radius: 1em;
  color: #323232;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.darkMode .contactContent {
  background-color: #082032;
  font-family: Raleway, sans-serif;
}
.darkMode .contactContainer {
  display: grid;
  grid-template-columns: 30% 50%;
}
.darkMode .contactContainer .rightPartie {
  margin: 4em;
  color: aliceblue;
}
.darkMode .contactContainer .rightPartie h2 {
  color: #FF4C29;
  font-weight: 600;
  font-size: x-large;
}
.darkMode .contactContainer .rightPartie .contactField {
  margin-top: 1em;
  margin-left: 1em;
  font-size: 20px;
}
.darkMode .contactContainer .rightPartie .contactField i {
  margin-right: 1em;
}
.darkMode .contactContainer .leftPartie {
  margin: 4em 0;
  color: #FF4C29;
}
.darkMode .contactContainer .leftPartie h3 {
  color: #FF4C29;
}
.darkMode .contactContainer .leftPartie .screen {
  background: linear-gradient(90deg, #080808, #082032);
  position: relative;
  padding: 4em;
  box-shadow: 0px 0px 24px #000;
  display: grid;
  grid-template-columns: 17.5% 77.5%;
  gap: 5%;
}
.darkMode .contactContainer .leftPartie .screen .imageContent {
  padding: 7%;
  font-size: x-large;
  text-align: center;
}
.darkMode .contactContainer .leftPartie form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.darkMode .contactContainer .leftPartie form input {
  width: 100%;
  margin-bottom: 1em;
  padding: 1em;
  background-color: #FFAC41;
  color: #323232;
  font-size: large;
  border-radius: 4px;
}
.darkMode .contactContainer .leftPartie form textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  resize: none;
  border-radius: 4px;
  background-color: #FFAC41;
  color: #323232;
  font-size: large;
}
.darkMode .contactContainer .leftPartie form button {
  margin-top: 2em;
  background-color: #FFAC41;
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.5);
  padding: 16px;
  border-radius: 1em;
  color: #323232;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.recaptcha {
  margin-top: 1em;
}/*# sourceMappingURL=contact.module.css.map */