.modal_overlay {
    z-index: 9999;
    width: 70%;
    //height: 110vh;
    position: fixed;
    top: 5%;
    left: 5%;
    //background-color: rgba(0,0,0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBox{
    display: block;
    background: white;
    width: 70%;
    height:70%;
    padding: 1rem;
    border-radius: 1rem;
}

@media screen and (max-width:589px) {
    .modalBox{
        width: 100%;
    }
    .modal_overlay{
        width: 90%;
    }
}